.padding-10 {
  padding: 10px;
}

.add-btn {
  width: 100px;
  height: 100px;
  justify-content: center;

}

.height-300 {
  height: max-content;
  min-height: 300px;
  border: gray solid;
  border-width: 1px;
  border-radius: 5px;
}

.service-caption {
  display: block;
}

.horizontalWrapper {
  padding-top: 5px;
  display: flex;
  max-height: 200px;
  border: 1px solid lightgray;
  overflow-x: auto;
}
/* .horizontalWrapper::-webkit-scrollbar {
  height: 20px;
} */
.horizontalWrapper .box {
  min-width: 120px;
  height: 180px;
  line-height: 180px;
  background-color: lightgray;
  text-align: center;
  margin-right: 5px;
}

.feedersDropZone {
  min-height: 200px;
  border: 1px lightgrey solid;
  margin: 10px;
  padding: 10px;
}
